<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480089850184-hj2sbpv5h7gsbq14ogqaak9m8fnp316i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480089850184-hj2sbpv5h7gsbq14ogqaak9m8fnp316i</string>
	<key>API_KEY</key>
	<string>AIzaSyDxMY-JYTr3IoY34OCQ4801iROeXoNsktQ</string>
	<key>GCM_SENDER_ID</key>
	<string>480089850184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivandosev.Aachen2021</string>
	<key>PROJECT_ID</key>
	<string>fir-dosi</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-dosi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480089850184:ios:554c9fdc2b1f2d92e4b37d</string>
</dict>
</plist>